.hide {
    display: none;
}

/* body {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif !important;
    font-size: 14px !important;
} */


.card {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05)
}

.card .card-header {
    padding: 1.5rem
}

.card .card-body {
    font-family: Open Sans;
    padding: 1.5rem
}

.card.card-plain {
    background-color: transparent;
    box-shadow: none
}

.card .card-footer {
    padding: 1.5rem;
    background-color: transparent
}

.card.card-background {
    align-items: center
}

.card.card-background .full-background {
    background-position: 50%;
    background-size: cover;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem
}

.card.card-background .card-body {
    color: #fff;
    position: relative;
    z-index: 2
}

.card.card-background .card-body .content-center,
.card.card-background .card-body .content-left {
    min-height: 330px;
    max-width: 450px;
    padding-top: 60px;
    padding-bottom: 60px
}

.card.card-background .card-body .content-center {
    text-align: center
}

.card.card-background .card-body.body-left {
    width: 90%
}

.card.card-background .card-body .author .name .stats,
.card.card-background .card-body .author .name span {
    color: #fff
}

.card.card-background:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    content: "";
    background: rgba(0, 0, 0, .4);
    border-radius: 1rem
}

.card.card-background.card-background-mask-primary:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-primary:after {
    background-image: linear-gradient(310deg, #7928ca, #ff0080);
    opacity: .85
}

.card.card-background.card-background-mask-secondary:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-secondary:after {
    background-image: linear-gradient(310deg, #627594, #a8b8d8);
    opacity: .85
}

.card.card-background.card-background-mask-success:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-success:after {
    background-image: linear-gradient(310deg, #17ad37, #98ec2d);
    opacity: .85
}

.card.card-background.card-background-mask-info:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-info:after {
    background-image: linear-gradient(310deg, #2152ff, #21d4fd);
    opacity: .85
}

.card.card-background.card-background-mask-warning:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-warning:after {
    background-image: linear-gradient(310deg, #f53939, #fbcf33);
    opacity: .85
}

.card.card-background.card-background-mask-danger:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-danger:after {
    background-image: linear-gradient(310deg, #ea0606, #ff667c);
    opacity: .85
}

.card.card-background.card-background-mask-light:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-light:after {
    background-image: linear-gradient(310deg, #ced4da, #ebeff4);
    opacity: .85
}

.card.card-background.card-background-mask-dark:before {
    background: rgba(0, 0, 0, .2)
}

.card.card-background.card-background-mask-dark:after {
    background-image: linear-gradient(310deg, #141727, #3a416f);
    opacity: .85
}

.card.card-background .card-category {
    font-size: .875rem;
    font-weight: 600
}

.card.card-background .card-description {
    margin-top: 24px;
    margin-bottom: 24px
}

.shadow-card {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05) !important
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 3rem !important;
}

.me-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.ms-auto {
    margin-left: auto !important;
}


.rounded {
    border-radius: 10px;
}

.text-bold {
    font-weight: bold;
}

.title {
    font-size: 30px;
}

.text-center {
    text-align: center;
}